*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6ffde;
}

.month {
    font-size: 24px;
    width: 425px;
    height: 8%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.previous:hover, .next:hover {
    cursor: pointer;
    color: rgb(4, 87, 15);
}

.current_month {
    font-weight: 700;
    text-transform: capitalize;
}

.weekdays {
    width: 425px;
    padding: 0 2.5px;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekday {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.days {
    width: 425px;
    height: 100%;
    padding: 0 2.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.previous_month_day, .next_month_day, .current_month_day {
    width: 60px;
    height: 70px;
    text-align: center;
}

.previous_month_day, .next_month_day {
    opacity: 0.5;
}