*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6ffde;
}

/* HEADER CSS AREA  */
#header{
    width: 425px;
    height: 8%;
    padding: 5px 16px;
    margin-top: 20px;
    background-color: #2e0707d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header_title{
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #f6ffde;
} 

#create_event{
    background-color: #2e0707;
    color: #f6ffde;
    outline: none;
    border-color: #f6ffde;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 5px;
    cursor: pointer;
}

/* calendar */

.month {
    font-size: 24px;
    width: 425px;
    height: 8%;
    padding: 0 16px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.previous:hover, .next:hover {
    cursor: pointer;
    color: rgb(4, 87, 15);
}

.current_month {
    font-weight: 700;
    text-transform: capitalize;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.weekdays {
    width: 425px;
    padding: 10px 2.5px;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekday {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.days {
    width: 425px;
    height: 100%;
    padding: 0 2.5px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes onChange {
    25% {opacity: 0.67; font-size: 12px;}
    50% {opacity: 0.33; font-size: 6px;}
    75% {opacity: 0.67; font-size: 12px;}
    100% {opacity: 1; }
}

.previous_month_day, .next_month_day, .current_month_day {
    width: 60px;
    height: 70px;
    text-align: center;
}

.previous_month_day, .next_month_day {
    opacity: 0.5;
}

.current_month_day {
    display: flex;
    flex-direction: column;
}

.today {
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(255, 52, 52);
    border-radius: 50%;
    color: #fff;
}

.today_extra {
    background-color: #000;
}

.new_event {
    margin-right: 15px;
    margin-left: 15px;
    background-color: #fff;
    color: #222;
    outline: none;
    border-color: #f6ffde;
    border-radius: 5px;
    cursor: pointer;
}

.event_list_item {
    height: 12px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0b3000;
    color: #fff;
    margin: 1px;
    cursor: pointer;
}

.event_popup {
    width: 300px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #555;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.event_display_title {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_display_title p {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.event_display_item {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}